.is-responsive {
    min-width: auto;
}
body {
    height: 100%;
    min-width: 1060px;
    margin: 0;
    color: #574c4f;
    font: 16px/1.7 normal normal;
    font-family: "Helvetica Neue", Helvetica, arial, freesans, clean, sans-serif;
}
* {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

user agent stylesheet
body {
    display: block;
    margin: 8px;
}
box-sizing:border-box;
color:rgb(87, 76, 79);
display:block;
font-family:"Helvetica Neue", Helvetica, arial, freesans, clean, sans-serif;
font-size:16px;
font-stretch:100%;
font-style:normal;
font-variant-caps:normal;
font-variant-east-asian:normal;
font-variant-ligatures:normal;
font-variant-numeric:normal;
font-weight:400;
height:969px;
line-height:27.2px;
margin-bottom:0px;
margin-left:0px;
margin-right:0px;
margin-top:0px;
min-width:0px;
width:1365px;


.footer-push {
    min-height: 100%;
    height: auto !important;
    height: 100%;
    margin-bottom: -55px;
}
* {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
user agent stylesheet
div {
    display: block;
}
body {
    height: 100%;
    min-width: 1060px;
    margin: 0;
    color: #574c4f;
    font: 16px/1.7 normal normal;
    font-family: "Helvetica Neue", Helvetica, arial, freesans, clean, sans-serif;
}

    .top-bar {
    text-align: left;
    padding: 5px 0;
    background-color: #584b4f;
    color: #efeae1;
    font-size: 14px;
    height: 43px;
}
* {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
user agent stylesheet
nav {
    display: block;
}
body {
    height: 100%;
    min-width: 1060px;
    margin: 0;
    color: #574c4f;
    font: 16px/1.7 normal normal;
    font-family: "Helvetica Neue", Helvetica, arial, freesans, clean, sans-serif;
}
background-color:rgb(88, 75, 79);
box-sizing:border-box;
color:rgb(239, 234, 225);
display:block;
font-family:"Helvetica Neue", Helvetica, arial, freesans, clean, sans-serif;
font-size:14px;
font-stretch:100%;
font-style:normal;
font-variant-caps:normal;
font-variant-east-asian:normal;
font-variant-ligatures:normal;
font-variant-numeric:normal;
font-weight:400;
height:43px;
line-height:23.8px;
padding-bottom:5px;
padding-left:0px;
padding-right:0px;
padding-top:5px;
text-align:left;
width:1365px;
